* {
	margin: 0;
	box-sizing: border-box;
}

.container {
	margin-top: 100px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#images {
	width: 800px;
	height: 450px;
	overflow: hidden;
}

#images ul {
	width: 4000px;
	list-style-type: none;
	padding: 0;
}

#images ul li {
	float: left;
	width: 800px;
	height: 450px;
}

#images img {
	width: 100%;
	height: auto;
}

/*Buttons*/
.buttons {
	width: 800px;
	height: 450px;
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}

.buttons a {
	text-decoration: none;
}

.buttons i {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background: #333;
	color: #fff;
	font-size: 24px;
	opacity: 0.8;
	border-radius: 50%;
	cursor: pointer;
}

/*Controls*/
.controls {
	width: 800px;
	height: 50px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
	color: #fff;
}

.controls i {
	padding: 5px;
}